.input-wrapper{
    margin-top: -100px;
    background-color: white;
    width: 784px;
    border-radius: 10px;
height: 4rem;
padding: 0 15px;
box-shadow: 0px 0px 5px 1px #00000033;
display: flex;
align-items: center;
justify-content: center;
}

input{
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 20px; 
    width: 100%;
    margin-left: 15px;
    color: #787878;
}

input:focus{
    outline: none;
}

#search-icon,
#search-close {
    width: 25px;
    height: 25.5px;
    flex-shrink: 0;
    cursor: pointer;
    transition: transform .5s; /* Corregir la ubicación de la transición y especificar la propiedad */
}

#search-icon:hover,
#search-close:hover {
    transform: scale(1.2); /* Corregir la propiedad transform y especificar la escala */
}


@media screen and (max-width: 768px) {
    
    .input-wrapper{
        display: flex;
        width: 90%;
    align-items: center;
    z-index: 1;
    margin: -40px;
    }

}

@media screen and (max-width: 500px) {
    
    .input-wrapper{
        display: flex;
        width: 90%;
    align-items: center;
    z-index: 1;
    margin: -40px;
    }

}

@media screen and (max-width: 375px) {
    
    .input-wrapper{
        display: flex;
        width: 90%;
    align-items: center;
    z-index: 1;
    }

}

/*CARD SKELETON*/

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.work_card_skeleton {
    position: relative;
    display: flex;
    width: 250px;
    height: 350px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite; /* Duración de la animación y repetición infinita */
}




.card_filters_skeleton {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
   justify-content: left;
   padding: 1.5rem;
}

.filter_item_skeleton {
    border-radius: 50px;
background-color: var(--Light-grey, #E1E9F0);
padding: 6px 10px;
margin: 5px 5px 0px 0px;
font-size: 15px;
}


.work_img_skeleton  {
   display: none;
}

.hover_text_skeleton {
    display: flex;
    position: absolute; /* Cambia a posición absoluta */
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in-out;
    font-size: 17px;
    padding: 1.5rem;
    align-items: center;
    color: transparent;
    margin-bottom: 50px;
    cursor: pointer;
}

.hover_text_skeleton :hover{
    opacity: 1;
    background: linear-gradient(180deg, rgba(48, 70, 89, 0.00) 0%, #304659 100%);
    font-size: 17px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: -30px;
}

.card_description_skeleton {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite; /* Duración de la animación y repetición infinita */
}

.work_title_skeleton  {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite; /* Duración de la animación y repetición infinita */
}


.brand_description_skeleton {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite; /* Duración de la animación y repetición infinita */
}
.work_button_skeleton {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite; /* Duración de la animación y repetición infinita */
}

@media screen and (max-width: 500px){

    .work_card_skeleton {

        position: relative;
        display: flex;
        width: 170px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
        background-size: 200% 100%;
        animation: loading 1.5s infinite; /* Duración de la animación y repetición infinita */
    }
    
}


@media screen and (max-width: 400px){

    .work_card_skeleton {

        position: relative;
        display: flex;
        width: 170px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
        background-size: 200% 100%;
        animation: loading 1.5s infinite; /* Duración de la animación y repetición infinita */
    }
    
}


